<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLibrary</title>
    <link rel="stylesheet" href="../src/styles/index.css">
</head>
<body>
    <div class="container">
        <div class="container">
            <div class="leftDiv">
    
            </div>
            <div class="rightDiv">
                <h2>Create an account</h2>
                <form action="">
                    <div class="inputBox">
                        <input type="text" name="text" id="text" placeholder="Username">
                        <div class="underline"></div>
                    </div>
                    <div class="inputBox">
                        <input type="email" name="email" id="email" placeholder="Email">
                        <div class="underline"></div>
                    </div>
                    <div class="inputBox">
                        <input type="password" name="password" id="password" placeholder="Password">
                        <div class="underline"></div>
                    </div>
                    <input type="submit" value="Create account">

                    <div class="connect">
                        <div class="social">
                            <div class="boxFacebook">
                                <a href="#"><i class="fa-brands fa-google"></i></i><span style="color: #35187f;">Log in with google</span></a>
                            </div>
                        </div>      
                    </div>
            
                    <div class="spanBox">
                        <span>Already have an account? <a href="#" class="log">Log in</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/07cc412226.js" crossorigin="anonymous"></script>
</body>
</html>